/* Team50 - Yuanyi Zhang - 1206297 */
/* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
       #map {
        height: 100%;
        position: relative;
      }
      
      /* Optional: Makes the sample page fill the window. */
      html,
      body {
        height: 100%;
        margin: 0;
        padding: 0;
      }


    #legend {
      font-family: Arial, sans-serif;
      background: #fff;
      padding: 20px;
      margin: 30px;
      border: 1px solid #000;
      opacity: 0.85;
    }

    .legend1{
      font-family: Arial, sans-serif;
      font-size: 14px;
    }

    #dataAnalysis {
      font-family: Arial, sans-serif;
      background: #fff;
      padding: 20px;
      margin: 30px;
      border: 1px solid #000;
      opacity: 0.85;
    }

    .infoWin{
      text-align: center;
    }

    #AurinData{
      visibility: hidden;
      height: 80%;
      width: 80%;
      position: absolute;
      z-index: 99;
      left: 10%;
      top: 10%;
      background-color: #fff;
    }

    #columnChartContainer{
      height: 87.5%;
      width: 50%;
      position: absolute;
      z-index: 99; 
      top: 5%;
    }

    #pieChartContainer{
      height: 87.5%;
      width: 50%;
      right: 0px;
      position: absolute;
      z-index: 99; 
      top: 5%;
    }

    #firstContainer{
      height: 47.5%;
      width: 50%;
      left: 0px;
      position: absolute;
      z-index: 99; 
      top: 5%;
    }

    #secondContainer{
      height: 47.5%;
      width: 50%;
      right: 0px;
      position: absolute;
      z-index: 99; 
      top: 5%;
    }

    #thirdContainer{
      height: 47.5%;
      width: 50%;
      left: 0px;
      position: absolute;
      z-index: 99; 
      bottom: 0;
    }

    #forthContainer{
      height: 47.5%;
      width: 50%;
      right: 0px;
      position: absolute;
      z-index: 99; 
      bottom: 0;
    }
    
    #CloseButton{
      height: 3%;
      width: 3%;
      top: 10px;
      right:10px;
      position: absolute;
      z-index: 9; 
    }

    .close-container{
      top: 5px;
      right:10px;
      position: absolute;
      z-index: 100; 
      margin: auto;
      width: 50px;
      height: 50px;
      cursor: pointer;
    }
    
    .leftright{
      height: 4px;
      width: 50px;
      position: absolute;
      margin-top: 24px;
      background-color: #F4A259;
      border-radius: 2px;
      transform: rotate(45deg);
      transition: all .3s ease-in;
    }
    
    .rightleft{
      height: 4px;
      width: 50px;
      position: absolute;
      margin-top: 24px;
      background-color: #F4A259;
      border-radius: 2px;
      transform: rotate(-45deg);
      transition: all .3s ease-in;
    }
    
    label{
      color: gray;
      font-family: Helvetica, Arial, sans-serif; 
      font-size: .6em;
      text-transform: uppercase;
      letter-spacing: 2px;
      transition: all .3s ease-in;
      opacity: 0;
    }
    .close{
      margin: 60px 0 0 5px;
      position: absolute;
    }
    
    .close-container:hover .leftright{
      transform: rotate(-45deg);
      background-color: #F25C66;
    }
    .close-container:hover .rightleft{
      transform: rotate(45deg);
      background-color: #F25C66;
    }
    .close-container:hover label{
      opacity: 1;
    }

    .analyBut {
      box-shadow:inset 0px 1px 0px 0px #ffffff;
      background:linear-gradient(to bottom, #ededed 5%, #dfdfdf 100%);
      background-color:#ededed;
      border-radius:6px;
      border:1px solid #dcdcdc;
      display:inline-block;
      cursor:pointer;
      color:#777777;
      font-family:Arial;
      font-size:15px;
      font-weight:bold;
      padding:12px 24px;
      margin-top: 10px;
      text-decoration:none;
      text-shadow:0px 1px 0px #ffffff;
      width: 100%;
    }
    .analyBut:hover {
      background:linear-gradient(to bottom, #dfdfdf 5%, #ededed 100%);
      background-color:#dfdfdf;
    }
    .analyBut:active {
      position:relative;
      top:1px;
    }
    

    #firstImage,#secondImage,#thirdImage,#forthImage{
      width: 100%;
      height: 100%;
    }